.home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.home-card {
	width: 37.5rem;
	height: 350px;
	border: 1px solid;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-card button {
	height: 50px;
	width: 200px;
	border-radius: 6px;
	border: none;
	background-color: blueviolet;
}
